* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.header nav.navbar.navbar-expand-lg {
    background-color: #021526;
    padding: 20px 0;
   
}

.header a.navbar-brand {
    color: white;
}

 a.nav-link:hover {
    color: black;
}

.header a.nav-link {
    color: white;
    padding: 0 10px;
}

   .header li.nav-item {
    padding: 0 15px;
}

.login a{
    text-decoration: none;
    color: white;
    padding: 8px 20px;
    border-radius: 10px;
    background-color:#6EACDA;
}